<div style="clear: both"></div>
<div class="col-xs-12 col-md-offset-2 col-md-10">
  <h2>Euglenaとは</h2>
  <div style="padding: 10px 20px;">
    <p>生命は繋がっています。</p>
    <p>ヒトが受精卵という一つの細胞から細胞分裂を繰り返して形作られるのと同様に、</p>
    <p>目に見えない微生物たちも、自らを分裂させることで子孫を残しています。</p>
    <p>「Euglena」はミドリムシを意味し、ミドリムシの分裂を通して直感的に生命のバトントスを感じることができます。</p>
    <p>ミドリムシ以外にも自分の好きな生き物を追加することで増殖させることができます。</p>
  </div>
</div>