<div id="TopPage">
  <h1 class="main_txt">Life in WEB</h1>
  <h4 class="sub_txt">生命を感じよう</h4>
  <%= content_tag(:a, 'Start',
    href: growth_path, :class => 'btn btn-default btn-primary', role: 'button') %>
</div>