#AdminOrganismsArea {
  width: 100%;
  div.box {
    min-height: 100px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 2px;
    border: 1px solid #FFF;
    cursor: pointer;
  }
}