// common.css.scss
$base_gray: #E6E6E6;
$light_gray: #f0f0f0;
$deep_blue: #71badc;
$light_blue: #BEDDEF;
$base_blue: #0094BE;
$soft_red: #DE6641;
$footer_str: #A1A6A9;
$text_grey: #A1A6A9;
$fb_blue: #3B5998;
